<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Two databases: 1. Local, 2. Azure; comment out one or the other depending on live or development -->
    <!-- 1. Local Database -->
    <!--<add name="caffeineDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Caffeinated_DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <!-- 2. Azure Database -->
    <!-- <add name="caffeineDB" connectionString="
                                   Server=<server name here>;
                                   Database=<db name here>;
                                   User ID=<user id here>;
                                   Password=<password here>;
                                   Trusted_Connection=False;
                                   Encrypt=True;
                                   Connection Timeout=30;" /> -->
  </connectionStrings>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>
