<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="caffeineDB" connectionString="Server=server_name_here;Database=caffeinated_db;User ID=user_id_here;Password=pw_here;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add name="caffeinated_dbConnectionString" connectionString="Data Source=datasource_here;Initial Catalog=caffeinated_db;Persist Security Info=True;User ID=user_id_here;Password=pw_here"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=token_here"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=token_here"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms timeout="1440"/>
      <!-- user will remain logged in for 1 day -->
    </authentication>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>